<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">


    <title>Add Inventory Item</title>
</head>
<body>
    <h1>Add New Inventory Item</h1>
    <form action="/inventory/add" method="post">
        <label for="ItemName">Item Name:</label>
        <input type="text" name="ItemName" required>

        <label for="Supplier">Supplier:</label>
        <input type="text" name="Supplier" required>

        <label for="DateReceived">Date Received:</label>
        <input type="date" name="DateReceived" required>

        <label for="ItemDescription">Description:</label>
        <textarea name="ItemDescription"></textarea>

        <label for="Cost">Cost:</label>
        <input type="number" name="Cost" required>

        <label for="Quantity">Quantity:</label>
        <input type="number" name="Quantity" required>

        <button type="submit">Add Item</button>

    </form>
</body>
</html>
