<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <title>Edit Inventory Item</title>
</head>
<body>
    <%- include('views/partials/main_nav.ejs') %> <!-- Include Navbar from partials folder -->
    <div class="container mt-4">
        <h1 class="mb-4">Edit Inventory Item</h1>
        <form action="/inventory/edit/<%= Item._id %>" method="post" class="form-group">
            <label for="ItemName">Item Name:</label>
            <input type="text" name="ItemName" value="<%= Item.ItemName %>" class="form-control mb-2" required>
            <!-- Other form fields here -->
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        </form>
    </div>
</body>
</html>
